.button {
    background-color: #d8d8d8;
    color: #151515;
    font-family: var(--font-family);
    cursor: pointer;
    text-align: center;
    border: none;
    font-size: 1.4rem;
    text-transform: uppercase;
    height: 5.4rem;
    line-height: 5.4rem;
    letter-spacing: .3rem;
    padding: 0 3rem;
    white-space: nowrap;
}