@import url('../../assets/base.css');

:root {
	--color-white: #FFFFFF;
	--color-default: #d8d8d8;
	--color-primary: #151515;
	--color-stroke: transparent;
	--color-info: #387fb2;
	--color-success: #a2c522;
	--color-warning: #d1b726;
	--color-danger: #dd4043;
    --font-family: 'Montserrat', sans-serif;

}